/* navigation bar */
nav {
	margin: 0;
	padding: 16px;

	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	z-index: 1;
}

nav a{
	color: #999;
	padding: 16px;
	text-decoration: none;
	font-size: 16px;
	transition: 1s ease;
	font-family: "Open Sans", "Verdana"
}

nav a:hover{
	color: #111;
	transition: 1s ease;
}

#button{
	max-height: 32px;
	filter: opacity(25%);
	transition: 1s ease;
}

#button_active{
	max-height: 32px;
	filter: opacity(100%);
}

#button:hover{
	filter: opacity(75%);
	transition: 1s ease;
}



/* main content */

.content{
	margin-top: 100px;
}

h1{
	font-family: "Georgia";
	font-style: italic;
	color: #555
}

h4{
	font-family: "Open Sans", "verdana";
	padding-left: 16px;
	margin-bottom: 0px;
}

p{
	padding: 16px;
	font-family: "Open Sans", "verdana";
	font-size: 14px;
	font-style: normal;
	margin-top: 0px;
}


/* navigation bar */
.panel{
	max-width: 22%;
	display: float;
	transition: 1s ease;
	opacity: .5;
}

.panel:hover {
	opacity: 1.0;
	transiton: 1s ease;
}

.about{
	width: 50%;
}

@media only screen and (max-width: 900px){
	.panel{
		max-width:40%;
	}

	.content{
		margin-top: 75px;
	}

.about{
	width: 75%;
}
}

@media only screen and (max-width: 400px){
	.panel{
		max-width:90%;
		opacity: .9;
	}

	.panel:hover{
		opacity: .5;
	}

	#button{
		max-height: 25px;
	}

	#button_active{
		max-height: 25px;
	}

	.content{
		margin-top: 60px;
	}

	.about{
		width: 90%;
	}
	nav a{
	padding: 10px;
}



}


